body {
    background-size: 100% auto; /* width and height, can be %, px or whatever. */
    background-image: url("../img/production.jpg");
    /*background-repeat: repeat-y;*/
    background-position: top left;
    background-attachment: fixed;
}

.page-header {
    background-image: url("../img/cinema.jpg");
    background-repeat: repeat-x;
    background-position: bottom left;
}

.container {
    /*background-image: url("../img/film.png");*/
    background-repeat: repeat-y;
    background-position: top right;
}

.old-tv-screen {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    position: relative;
    margin: 20px 0;
    border: none;
    -webkit-border-radius: 50% / 10%;
    border-radius: 50% / 10%;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 0.1em;
    -o-text-overflow: clip;
    text-overflow: clip;
}

    .old-tv-screen::before {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        content: "";
        top: 10%;
        right: -5%;
        bottom: 10%;
        left: -5%;
        border: none;
        -webkit-border-radius: 5% / 50%;
        border-radius: 5% / 50%;
        font: normal 100%/normal Arial, Helvetica, sans-serif;
        -o-text-overflow: clip;
        text-overflow: clip;
        text-shadow: none;
    }

.night-hotel {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    border: none;
    font: normal 60px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 5px rgb(255,255,255), 0 0 5px rgb(255,255,255), 0 0 10px rgb(255,255,255), 0 0 20px rgb(255,17,119), 0 0 15px rgb(255,17,119), 0 0 20px rgb(255,17,119), 0 0 50px rgb(255,17,119), 0 0 75px rgb(255,17,119);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

    .night-hotel:hover {
        text-shadow: 0 0 10px rgb(255,255,255), 0 0 20px rgb(255,255,255), 0 0 30px rgb(255,255,255), 0 0 40px rgb(255,17,119), 0 0 70px rgb(255,17,119), 0 0 80px rgb(255,17,119), 0 0 100px rgb(255,17,119), 0 0 150px rgb(255,17,119);
    }


.api-rights {
    margin-top: 20px;
    padding-top: 10px;
    background: #232323;
}

.artist-row {
    margin: 5px;
    padding: 10px;
    background: #232323;
    margin: 20px;
    /*border: 1px solid rgba(255,17,119,0.5);*/
    padding: 10px;
}

    .artist-row a {
        cursor: pointer;
    }

    .artist-row:hover {
        -moz-box-shadow: 5px 5px 5px rgba(255,17,119,0.5);
        -webkit-box-shadow: 5px 5px 5px rgba(255,17,119,0.5);
        box-shadow: 5px 5px 5px rgba(255,17,119,0.5);
    }

    .artist-row img {
        width: 128px;
    }

.movie-row {
    margin: 5px;
    padding: 10px;
    background: #7A8288;
    margin: 20px;
    /*border: 1px solid #b6ff00;*/
    padding: 10px;
}

    .movie-row a {
        cursor: pointer;
    }

    .movie-row:hover {
        -moz-box-shadow: 5px 5px 5px #0672B0;
        -webkit-box-shadow: 5px 5px 5px #0672B0;
        box-shadow: 5px 5px 5px #0672B0;
    }

    .movie-row img {
        width: 128px;
    }
